<div class="container">
<nav aria-label="Page navigation example">
<ul class="pagination">
    <ul class="pagination">
        <li class="page-item"><a href="?page=1" class="page-link">&laquo; First Page</a></li>
        {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous Page</a></li>
        {% else %}
            <li class="page-item"><span class="page-link">Previous Page</span></li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }} " class="page-link">Next Page</a></li>
        {% else %}
            <li class="page-item"><span class="page-disabled" class="page-link">Next Page</span></li>
        {% endif %}
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">To the end &raquo;</a></li>
    </ul>
</ul>
</nav>
</div>